In [1]:
from pathlib import Path

import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
import useful_functions.habits_func as hf

In [3]:
habits_df = pd.read_csv("data/Yorkshire Water consumer habits.csv")

In [4]:
# habits_df.columns

In [5]:
# cols_to_look_at = ["Water-Garden", "Use-Pressure-Washer", "Number-Of-People", "Home-Type", "Water-Heated-With", "Shower-Type", "Showers-Per_week", "Shower-Duration-Minutes", "Shower-Turn-Off-Temporarily", "Shower-Leak", "Shower-Leak-Rate", "Toilet-Type", "Toilet-Use-Small-Flush", "Toilet-Leak", "Toilet-Leak-Rate", "Basin-Tap-Type", "Basin-Tap-Flow-Rate", "Basin-Tap-Leak", "Basin-Tap-Leak-Rate", "Basin-Tap-Running-Brushing-Teeth", "Basin-Shave-Number-Of-People", "Basin-Shave-Tap-Running", ]

In [6]:
with open("data/habits_columns.csv", "r") as f:
    text_from_file = f.read()
cols_to_look_at = text_from_file.split(",")
len(cols_to_look_at)

61

In [7]:
# for col in cols_to_look_at:
#     print(col)

In [8]:
habits_df.iloc[-5:,-5:]

,Person-Water-Saving-Litres-Per-Day,Household-Energy-Rate-KWh,Household-Water-Rate-Cubic-Metre,Unnamed: 97,Unnamed: 98
13743,139,0.1575,3.02,NaN,NaN
13744,36,0.0374,3.02,NaN,NaN
13745,20,0.0374,3.02,NaN,NaN
13746,175,0.0374,3.02,NaN,NaN
13747,28,0.0374,3.02,NaN,NaN

In [9]:
df = habits_df.loc[:, cols_to_look_at]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13748 entries, 0 to 13747
Data columns (total 61 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   County                                13748 non-null  object
 1   Number-Of-Showers                     13748 non-null  int64
 2   Number-Of-Toilets                     13748 non-null  int64
 3   Number-Of-Basins                      13748 non-null  int64
 4   Number-Of-Bathtubs                    13748 non-null  int64
 5   Number-of-Kitchen-Utility-Taps        13748 non-null  int64
 6   Water-Garden                          13314 non-null  object
 7   Use-Pressure-Washer                   13313 non-null  object
 8   Number-Of-People                      13748 non-null  int64
 9   Home-Type                             13317 non-null  object
 10  Water-Heated-With                     13748 non-null  object
 11  Shower-Type                           12671 non-null  object
 12  Showers-Per-Week                      12224 non-null  float64
 13  Shower-Duration-Minutes               12152 non-null  float64
 14  Shower-Turn-Off-Temporarily           12151 non-null  object
 15  Shower-Leak                           12148 non-null  object
 16  Shower-Leak-Rate                      1121 non-null   object
 17  Toilet-Type                           13263 non-null  object
 18  Toilet-Use-Small-Flush                6514 non-null   object
 19  Toilet-Leak                           13263 non-null  object
 20  Toilet-Leak-Rate                      936 non-null    object
 21  Basin-Tap-Type                        13242 non-null  object
 22  Basin-Tap-Flow-Rate                   13248 non-null  object
 23  Basin-Tap-Leak                        13748 non-null  object
 24  Basin-Tap-Leak-Rate                   343 non-null    object
 25  Basin-Tap-Running-Brushing-Teeth      13248 non-null  object
 26  Basin-Shave-Number-Of-People          13748 non-null  int64
 27  Basin-Shave-Tap-Running               7249 non-null   object
 28  Bath-Frequency-Per-Week               11776 non-null  float64
 29  Bath-Fill-Amount                      8202 non-null   object
 30  Bath-Tap-Leak                         11485 non-null  object
 31  Bath-Tap-Leak-Rate                    236 non-null    object
 32  Kitchen-Tap-Type                      13219 non-null  object
 33  Kitchen-Tap-Flow-Rate                 13224 non-null  object
 34  Kitchen-Tap-Leak                      13227 non-null  object
 35  Kitchen-Tap-Leak-Rate                 627 non-null    object
 36  Kettle-How-Much-Water                 12964 non-null  object
 37  Boil-Water-Per-Week                   13748 non-null  int64
 38  Wash-By-Hand-Per-Week                 8998 non-null   float64
 39  Dishwasher-Per-Week                   13246 non-null  float64
 40  Dishwasher-Eco                        5467 non-null   object
 41  Washing-Machine-Per-Week              12891 non-null  float64
 42  Car-Wash-Frequency                    3554 non-null   float64
 43  Car-Wash-Water-Source                 3502 non-null   object
 44  Car-Wash-Method                       3422 non-null   object
 45  Garden-Water-Source                   5577 non-null   object
 46  Garden-Water-Method                   4069 non-null   object
 47  Garden-Water-Frequency-Per-Week       11173 non-null  float64
 48  Garden-Water-Duration                 5528 non-null   object
 49  Pressure-Washer-Frequency-Per-Week    10028 non-null  float64
 50  Pressure-Washer-Per-Week-Duration     2233 non-null   object
 51  Bathroom-Water-Use-Litres-Yearly      13748 non-null  int64
 52  Kitchen-Water-Use-Litres-Yearly       13748 non-null  int64
 53  Outdoor-Water-Use-Litres-Yearly       13748 non-null  int64
 54  Household-Water-Use-Litres-Yearly     13748 non-null  int64
 55  Household-Water-Saving-Litres-Yearly  13748 non-null  int64
 56  Person-Water-Use-Litres-Yearly        13748 non-null  int64
 57  Person-Water-Use-Litres-Per-Day       13748 non-null  int64
 58  Person-Water-Saving-Litres-Yearly     13748 non-null  int64
 59  Person-Water-Saving-Litres-Per-Day    13748 non-null  int64
 60  Household-Water-Rate-Cubic-Metre      13748 non-null  float64
dtypes: float64(10), int64(17), object(34)
memory usage: 6.4+ MB

In [11]:
test_set = set(df["Water-Garden"].unique())
other_set = set(df["Use-Pressure-Washer"].unique())
for item in other_set:
    print(item, item in test_set)

nan True
no True
yes True

In [12]:
# y_n_set = set(["yes", "no"])

In [13]:
# yes_no_columns = []
# for col in df.columns:
#     for item in df[col].unique():
#         if item not in test_set:
#             break
#     else:
#         yes_no_columns.append(col)

In [14]:
# yes_no_columns

In [15]:
# for col in yes_no_columns:
#     print(df[col].unique())

In [16]:
# df.loc[:, yes_no_columns] = df.loc[:, yes_no_columns].replace({"no": 0, "yes": 1})

In [17]:
# df.info()

In [18]:
df["County"].dtype == "object"

True

In [19]:
object_columns = [col for col in df.columns if df[col].dtype == "object"]

In [20]:
object_columns

['County',
 'Water-Garden',
 'Use-Pressure-Washer',
 'Home-Type',
 'Water-Heated-With',
 'Shower-Type',
 'Shower-Turn-Off-Temporarily',
 'Shower-Leak',
 'Shower-Leak-Rate',
 'Toilet-Type',
 'Toilet-Use-Small-Flush',
 'Toilet-Leak',
 'Toilet-Leak-Rate',
 'Basin-Tap-Type',
 'Basin-Tap-Flow-Rate',
 'Basin-Tap-Leak',
 'Basin-Tap-Leak-Rate',
 'Basin-Tap-Running-Brushing-Teeth',
 'Basin-Shave-Tap-Running',
 'Bath-Fill-Amount',
 'Bath-Tap-Leak',
 'Bath-Tap-Leak-Rate',
 'Kitchen-Tap-Type',
 'Kitchen-Tap-Flow-Rate',
 'Kitchen-Tap-Leak',
 'Kitchen-Tap-Leak-Rate',
 'Kettle-How-Much-Water',
 'Dishwasher-Eco',
 'Car-Wash-Water-Source',
 'Car-Wash-Method',
 'Garden-Water-Source',
 'Garden-Water-Method',
 'Garden-Water-Duration',
 'Pressure-Washer-Per-Week-Duration']

In [21]:
# for col in object_columns:
#     print(df[col].value_counts())

In [22]:
# for col_index in range(6, 11):
#     print(df.iloc[:, col_index].value_counts())

### modifying values

In [23]:
len(df.columns)

61

In [24]:
mod_path = Path.cwd() / "data" / "habits_column_modifiers.txt"

In [25]:
col_mod = hf.read_column_modifiers(mod_path)

In [26]:
col_mod["classification"]

['Home-Type',
 'Water-Heated-With',
 'Shower-Type',
 'Toilet-Type',
 'Basin-Tap-Type',
 'Kitchen-Tap-Type',
 'Car-Wash-Water-Source',
 'Car-Wash-Method',
 'Garden-Water-Source',
 'Garden-Water-Method']

In [27]:
df = hf.add_classifier_columns(df, col_mod["classification"])

In [28]:
col_mod["yes-no"]

['Water-Garden',
 'Use-Pressure-Washer',
 'Basin-Shave-Tap-Running',
 'Shower-Leak',
 'Toilet-Leak',
 'Basin-Tap-Leak',
 'Bath-Tap-Leak',
 'Kitchen-Tap-Leak']

In [29]:
df = hf.modify_yes_no_columns(df, col_mod["yes-no"])

In [30]:
for k in col_mod["ordering"]:
    print(k)

Shower-Turn-Off-Temporarily
Shower-Leak-Rate
Toilet-Use-Small-Flush
Toilet-Leak-Rate
Basin-Tap-Flow-Rate
Basin-Tap-Leak-Rate
Basin-Tap-Running-Brushing-Teeth
Bath-Fill-Amount
Bath-Tap-Leak-Rate
Kitchen-Tap-Flow-Rate
Kitchen-Tap-Leak-Rate
Kettle-How-Much-Water
Dishwasher-Eco

In [31]:
df = hf.modify_values_using_dict(df, col_mod["ordering"])

In [32]:
for k in col_mod["quantitative"]:
    print(k)

Garden-Water-Duration
Pressure-Washer-Per-Week-Duration

In [33]:
df = hf.modify_values_using_dict(df, col_mod["quantitative"])

In [34]:
df = hf.modify_rate_columns(df)

In [35]:
df = df.drop("County", axis=1)

In [36]:
len(df.columns)

91

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13748 entries, 0 to 13747
Data columns (total 91 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Number-Of-Showers                                13748 non-null  int64
 1   Number-Of-Toilets                                13748 non-null  int64
 2   Number-Of-Basins                                 13748 non-null  int64
 3   Number-Of-Bathtubs                               13748 non-null  int64
 4   Number-of-Kitchen-Utility-Taps                   13748 non-null  int64
 5   Water-Garden                                     13314 non-null  float64
 6   Use-Pressure-Washer                              13313 non-null  float64
 7   Number-Of-People                                 13748 non-null  int64
 8   Home-Type_cottage-bungalow                       13748 non-null  int64
 9   Home-Type_flat                                   13748 non-null  int64
 10  Home-Type_detached                               13748 non-null  int64
 11  Home-Type_semi-detached                          13748 non-null  int64
 12  Home-Type_terrace                                13748 non-null  int64
 13  Water-Heated-With_other                          13748 non-null  int64
 14  Water-Heated-With_oil                            13748 non-null  int64
 15  Water-Heated-With_renewable                      13748 non-null  int64
 16  Water-Heated-With_coal                           13748 non-null  int64
 17  Water-Heated-With_i-dont-know                    13748 non-null  int64
 18  Water-Heated-With_electric                       13748 non-null  int64
 19  Water-Heated-With_gas                            13748 non-null  int64
 20  Shower-Type_gravity                              13748 non-null  int64
 21  Shower-Type_pumped                               13748 non-null  int64
 22  Shower-Type_electric                             13748 non-null  int64
 23  Shower-Type_mains-pressure                       13748 non-null  int64
 24  Shower-Type_multijet                             13748 non-null  int64
 25  Showers-Per-Week                                 12224 non-null  float64
 26  Shower-Duration-Minutes                          12152 non-null  float64
 27  Shower-Turn-Off-Temporarily                      12151 non-null  float64
 28  Shower-Leak                                      12148 non-null  float64
 29  Shower-Leak-Rate                                 12148 non-null  float64
 30  Toilet-Type_rainwater-flush                      13748 non-null  int64
 31  Toilet-Type_single-lever-handle                  13748 non-null  int64
 32  Toilet-Type_2-button-flush                       13748 non-null  int64
 33  Toilet-Type_1-button-flush                       13748 non-null  int64
 34  Toilet-Use-Small-Flush                           6217 non-null   float64
 35  Toilet-Leak                                      13263 non-null  float64
 36  Toilet-Leak-Rate                                 13263 non-null  float64
 37  Basin-Tap-Type_other                             13748 non-null  int64
 38  Basin-Tap-Type_separate-hot-and-cold             13748 non-null  int64
 39  Basin-Tap-Type_mixer                             13748 non-null  int64
 40  Basin-Tap-Flow-Rate                              13248 non-null  float64
 41  Basin-Tap-Leak                                   13601 non-null  float64
 42  Basin-Tap-Leak-Rate                              13600 non-null  float64
 43  Basin-Tap-Running-Brushing-Teeth                 13144 non-null  float64
 44  Basin-Shave-Number-Of-People                     13748 non-null  int64
 45  Basin-Shave-Tap-Running                          7249 non-null   float64
 46  Bath-Frequency-Per-Week                          11776 non-null  float64
 47  Bath-Fill-Amount                                 8122 non-null   float64
 48  Bath-Tap-Leak                                    11485 non-null  float64
 49  Bath-Tap-Leak-Rate                               11484 non-null  float64
 50  Kitchen-Tap-Type_other                           13748 non-null  int64
 51  Kitchen-Tap-Type_separate-hot-and-cold           13748 non-null  int64
 52  Kitchen-Tap-Type_mixer                           13748 non-null  int64
 53  Kitchen-Tap-Flow-Rate                            13224 non-null  float64
 54  Kitchen-Tap-Leak                                 13227 non-null  float64
 55  Kitchen-Tap-Leak-Rate                            13226 non-null  float64
 56  Kettle-How-Much-Water                            12920 non-null  float64
 57  Boil-Water-Per-Week                              13748 non-null  int64
 58  Wash-By-Hand-Per-Week                            8998 non-null   float64
 59  Dishwasher-Per-Week                              13246 non-null  float64
 60  Dishwasher-Eco                                   5066 non-null   float64
 61  Washing-Machine-Per-Week                         12891 non-null  float64
 62  Car-Wash-Frequency                               3554 non-null   float64
 63  Car-Wash-Water-Source_recycled-grey-water        13748 non-null  int64
 64  Car-Wash-Water-Source_rainwater                  13748 non-null  int64
 65  Car-Wash-Water-Source_mains-water                13748 non-null  int64
 66  Car-Wash-Method_hosepipe-only                    13748 non-null  int64
 67  Car-Wash-Method_hosepipe-and-hose-gun            13748 non-null  int64
 68  Car-Wash-Method_bucket-and-sponge                13748 non-null  int64
 69  Car-Wash-Method_pressure-washer                  13748 non-null  int64
 70  Garden-Water-Source_recycled-grey-water          13748 non-null  int64
 71  Garden-Water-Source_rain-water                   13748 non-null  int64
 72  Garden-Water-Source_mains-water                  13748 non-null  int64
 73  Garden-Water-Method_irrigation-sprinkler-system  13748 non-null  int64
 74  Garden-Water-Method_watering-can                 13748 non-null  int64
 75  Garden-Water-Method_hosepipe-and-hose-gun        13748 non-null  int64
 76  Garden-Water-Method_hosepipe-only                13748 non-null  int64
 77  Garden-Water-Frequency-Per-Week                  11173 non-null  float64
 78  Garden-Water-Duration                            5528 non-null   float64
 79  Pressure-Washer-Frequency-Per-Week               10028 non-null  float64
 80  Pressure-Washer-Per-Week-Duration                2233 non-null   float64
 81  Bathroom-Water-Use-Litres-Yearly                 13748 non-null  int64
 82  Kitchen-Water-Use-Litres-Yearly                  13748 non-null  int64
 83  Outdoor-Water-Use-Litres-Yearly                  13748 non-null  int64
 84  Household-Water-Use-Litres-Yearly                13748 non-null  int64
 85  Household-Water-Saving-Litres-Yearly             13748 non-null  int64
 86  Person-Water-Use-Litres-Yearly                   13748 non-null  int64
 87  Person-Water-Use-Litres-Per-Day                  13748 non-null  int64
 88  Person-Water-Saving-Litres-Yearly                13748 non-null  int64
 89  Person-Water-Saving-Litres-Per-Day               13748 non-null  int64
 90  Household-Water-Rate-Cubic-Metre                 13748 non-null  float64
dtypes: float64(33), int64(58)
memory usage: 9.5 MB

In [38]:
testi = df.apply(lambda x: x.count(), axis=0)

In [39]:
testi.sort_values(ascending=True)[:15]

Pressure-Washer-Per-Week-Duration      2233
Car-Wash-Frequency                     3554
Dishwasher-Eco                         5066
Garden-Water-Duration                  5528
Toilet-Use-Small-Flush                 6217
Basin-Shave-Tap-Running                7249
Bath-Fill-Amount                       8122
Wash-By-Hand-Per-Week                  8998
Pressure-Washer-Frequency-Per-Week    10028
Garden-Water-Frequency-Per-Week       11173
Bath-Tap-Leak-Rate                    11484
Bath-Tap-Leak                         11485
Bath-Frequency-Per-Week               11776
Shower-Leak-Rate                      12148
Shower-Leak                           12148
dtype: int64

In [40]:
min_count = 10_000
cols_to_drop = testi[testi < min_count].index

In [41]:
df = df.drop(cols_to_drop, axis=1)

In [42]:
len(df.dropna())

6599

### Linear Regression

In [43]:
df.columns[-15:]

Index(['Garden-Water-Method_watering-can',
       'Garden-Water-Method_hosepipe-and-hose-gun',
       'Garden-Water-Method_hosepipe-only', 'Garden-Water-Frequency-Per-Week',
       'Pressure-Washer-Frequency-Per-Week',
       'Bathroom-Water-Use-Litres-Yearly', 'Kitchen-Water-Use-Litres-Yearly',
       'Outdoor-Water-Use-Litres-Yearly', 'Household-Water-Use-Litres-Yearly',
       'Household-Water-Saving-Litres-Yearly',
       'Person-Water-Use-Litres-Yearly', 'Person-Water-Use-Litres-Per-Day',
       'Person-Water-Saving-Litres-Yearly',
       'Person-Water-Saving-Litres-Per-Day',
       'Household-Water-Rate-Cubic-Metre'],
      dtype='object')

In [44]:
df = df.dropna()

In [45]:
X = df.loc[:, :"Pressure-Washer-Frequency-Per-Week"]

In [46]:
Y = df["Household-Water-Use-Litres-Yearly"]

In [47]:
linear_model = LinearRegression()

In [48]:
linear_model.fit(X, Y)

LinearRegression()

In [49]:
linear_model.score(X, Y)

0.8873792321382757

In [51]:
len(X.columns)

73

In [67]:
columns_ordered = []
for col, coef in zip(X.columns, linear_model.coef_):
    columns_ordered.append({"column": col, "mean_impact": abs(X[col].mean() * coef), "max_impact": abs(coef) * (X[col].max() - X[col].min())})

column_df = pd.DataFrame(columns_ordered).sort_values("mean_impact", ascending=False)

In [68]:
column_df.head(15)

                             column   mean_impact     max_impact
26          Shower-Duration-Minutes  66130.193010  374297.232756
25                 Showers-Per-Week  64045.962390  281721.974276
7                  Number-Of-People  56514.134100  200803.526074
23       Shower-Type_mains-pressure  39905.482544   90649.321621
3                Number-Of-Bathtubs  31159.604374  151862.798572
5                      Water-Garden  21715.571608   49791.889174
22             Shower-Type_electric  19191.521743   47862.755851
56         Washing-Machine-Per-Week  18478.652053  156085.997767
50            Kitchen-Tap-Flow-Rate  15095.765538   13540.431804
44          Bath-Frequency-Per-Week  11886.541538   79303.697914
39              Basin-Tap-Flow-Rate  10453.899972    9591.280628
11          Home-Type_semi-detached   9287.083289   21942.521526
43     Basin-Shave-Number-Of-People   7321.942157  113288.385222
31  Toilet-Type_single-lever-handle   7199.406067   23254.469229
2                  Number-Of-Basins   6395.803658   21535.824236

In [69]:
column_df.sort_values("max_impact", ascending=False).head(15)

                                column   mean_impact     max_impact
26             Shower-Duration-Minutes  66130.193010  374297.232756
25                    Showers-Per-Week  64045.962390  281721.974276
7                     Number-Of-People  56514.134100  200803.526074
56            Washing-Machine-Per-Week  18478.652053  156085.997767
3                   Number-Of-Bathtubs  31159.604374  151862.798572
46                  Bath-Tap-Leak-Rate   1175.749057  131504.542869
41                 Basin-Tap-Leak-Rate   1672.471300  127837.507038
35                    Toilet-Leak-Rate   3907.219768  124358.890255
43        Basin-Shave-Number-Of-People   7321.942157  113288.385222
72  Pressure-Washer-Frequency-Per-Week   2541.215208  105279.241361
24                Shower-Type_multijet    748.571340   96859.260301
23          Shower-Type_mains-pressure  39905.482544   90649.321621
21                  Shower-Type_pumped   5877.112448   88951.984046
44             Bath-Frequency-Per-Week  11886.541538   79303.697914
55                 Dishwasher-Per-Week   1683.522678   78324.634455

In [52]:
meaningful_columns = []
min_significance = 0.01
for col, coef in zip(X.columns, linear_model.coef_):
    if X[col].mean() * coef > Y.mean() / len(X.columns) * min_significance:
        meaningful_columns.append({"column": col, "coefficient": coef})

col_df = pd.DataFrame(meaningful_columns)

In [53]:
len(col_df)

47

In [54]:
col_df

                                             column   coefficient
0                                 Number-Of-Showers   1921.978275
1                                Number-Of-Bathtubs  30372.559714
2                    Number-of-Kitchen-Utility-Taps   1402.574256
3                                  Number-Of-People  22311.502897
4                        Home-Type_cottage-bungalow  24299.038483
5                                    Home-Type_flat  20468.108201
6                                Home-Type_detached  21996.574359
7                           Home-Type_semi-detached  21942.521526
8                                 Home-Type_terrace  21257.039588
9                            Water-Heated-With_coal  15160.683272
10                              Shower-Type_gravity  58962.407926
11                               Shower-Type_pumped  88951.984046
12                             Shower-Type_electric  47862.755851
13                       Shower-Type_mains-pressure  90649.321621
14                             Shower-Type_multijet  96859.260301
15                                 Showers-Per-Week   5634.439486
16                          Shower-Duration-Minutes   7485.944655
17                                 Shower-Leak-Rate  17523.845766
18                  Toilet-Type_single-lever-handle  23254.469229
19                       Toilet-Type_2-button-flush  10590.286558
20                       Toilet-Type_1-button-flush  21978.477983
21                                 Toilet-Leak-Rate  41452.963418
22                              Basin-Tap-Flow-Rate   4795.640314
23                              Basin-Tap-Leak-Rate  42612.502346
24                 Basin-Tap-Running-Brushing-Teeth  11557.835139
25                     Basin-Shave-Number-Of-People  11328.838522
26                          Bath-Frequency-Per-Week   3965.184896
27                               Bath-Tap-Leak-Rate  43834.847623
28                           Kitchen-Tap-Type_other  34539.438443
29                            Kitchen-Tap-Flow-Rate   6770.215902
30                            Kitchen-Tap-Leak-Rate  13029.355973
31                            Kettle-How-Much-Water   1320.096921
32                              Boil-Water-Per-Week    139.944362
33                              Dishwasher-Per-Week   1566.492689
34                         Washing-Machine-Per-Week   3121.719955
35        Car-Wash-Water-Source_recycled-grey-water  17601.978719
36                Car-Wash-Water-Source_mains-water  12401.195369
37                    Car-Wash-Method_hosepipe-only   2034.248613
38          Garden-Water-Source_recycled-grey-water  40891.631792
39                   Garden-Water-Source_rain-water  46260.435929
40                  Garden-Water-Source_mains-water  19373.616121
41  Garden-Water-Method_irrigation-sprinkler-system  12196.132420
42                 Garden-Water-Method_watering-can  26431.688777
43        Garden-Water-Method_hosepipe-and-hose-gun  28076.251518
44                Garden-Water-Method_hosepipe-only  34192.109384
45                  Garden-Water-Frequency-Per-Week    645.991432
46               Pressure-Washer-Frequency-Per-Week   7519.945812

In [60]:
# list(col_df["column"])

In [59]:
X2 = X.loc[:, list(col_df["column"])]

In [61]:
len(X2.columns)

47

In [62]:
linear_model2 = LinearRegression()
linear_model2.fit(X2, Y)
linear_model2.score(X2, Y)

0.881855964248427